h2 {
    background-image: url("../images/beansBanner.jpg");
    background-size: cover;
    color: #FFF;
    padding: 10px 0 10px 30px;
    border-radius: 25px 25px 0 0;
    border-bottom: 2px solid var(--accent-primary);
    text-shadow: 2px 2px 1px #333;
}
table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}
td {
    border: 1px solid #FFF;
    padding: .5rem;
    background-color: var(--light-background);
}
th {
    background-color: var(--dark-background);
    color: #FFF;
    padding: 0.75rem;
    border-bottom: 1px solid var(--accent-primary)
}

/* applying border radius to individual cells so rounding is only around table corners */
.beverage { border-radius: 10px 0 0 0; }
.large { border-radius: 0 10px 0 0; }
.middlecol { border-radius: 0; }
.size { width: 10%; }

/* Bean bullets */
li { 
    line-height: 2rem; 
    background: url(../images/coffee-bean-malerapaso.png) no-repeat left center transparent;
    list-style-type: none;
    margin: 0;
    padding: 0px 10px 1px 33px;
    vertical-align: middle;
}
a:hover { color: var(--dark-background) }

/* Media Queries */
@media (max-width: 600px) {
    main { width: 85%; }
}