section { width: 100%; }
section a:hover { color: var(--dark-background); }
input {
    width: 100%;
    height: 25px;
}

/* Media Queries */
@media (max-width: 600px) {
    select { width: 60%}
    .btn { width: 100%; }
    section { text-align: center;}
}